<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Frame Broker"
            id="com.logica.hummingbird.framebrokerviewer.framebroker-views-cat">
      </category>
      <view
            category="com.logica.hummingbird.framebrokerviewer.framebroker-views-cat"
            class="com.logica.hummingbird.framebrokerviewer.views.FrameView"
            icon="icons/transmit_blue.png"
            id="com.logica.hummingbird.framebrokerviewer.views.FrameView"
            name="Frame View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.logica.hummingbird.framebrokerviewer.views.FrameView">
         <command
               commandId="com.logica.hummingbird.framebrokerviewer.commands.selectProvider"
               icon="icons/transmit_edit.png"
               style="push"
               tooltip="Select the telemetry frame provider.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Frame Broker"
               tooltip="Frame Broker configuration">
            <command
                  commandId="com.logica.hummingbird.framebrokerviewer.commands.selectProvider"
                  icon="icons/transmit_edit.png"
                  style="push"
                  tooltip="Select the telemetry frame provider.">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.logica.hummingbird.framebrokerviewer.framebroker-commands-cat"
            defaultHandler="com.logica.hummingbird.framebrokerviewer.commands.SelectTmProvider"
            description="Select the frame provider service you wish to receive frames from."
            id="com.logica.hummingbird.framebrokerviewer.commands.selectProvider"
            name="SelectTmProvider">
      </command>
      <category
            id="com.logica.hummingbird.framebrokerviewer.framebroker-commands-cat"
            name="Frame Broker">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.logica.hummingbird.framebrokerviewer.perspectives.FrameViewerPerspective"
            icon="icons/transmit_blue.png"
            id="com.logica.hummingbird.framebrokerviewer.perspectives.FrameViewerPerspective"
            name="Frame Broker">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.logica.hummingbird.framebrokerviewer.console.FrameBrokerConsoleFactory"
            icon="icons/transmit.png"
            label="Frame Broker">
      </consoleFactory>
   </extension>

</plugin>
