<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Frame Broker"
            id="com.logica.hummingbird.framebrokerviewer">
      </category>
      <view
            category="com.logica.hummingbird.framebrokerviewer"
            class="com.logica.hummingbird.framebrokerviewer.views.ProviderDetailsView"
            id="com.logica.hummingbird.framebrokerviewer.views.providerDetails"
            name="TM Provider details"
            restorable="true">
      </view>
      <view
            category="com.logica.hummingbird.framebrokerviewer"
            class="com.logica.hummingbird.framebrokerviewer.views.FrameView"
            icon="icons/transmit_blue.png"
            id="com.logica.hummingbird.framebrokerviewer.views.FrameView"
            name="Frame View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            class="com.logica.hummingbird.framebrokerviewer.menus.FrameBrokerMenu"
            locationURI="com.logica.hummingbird.framebrokerviewer.menus.framBrokerMenu">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.logica.hummingbird.framebrokerviewer.commands.SelectProvider"
            id="com.logica.hummingbird.framebrokerviewer.commands.selectProvider"
            name="Select Provider">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.logica.hummingbird.framebrokerviewer.perspectives.DefaultPerspectiveFactory"
            icon="icons/transmit_blue.png"
            id="com.logica.hummingbird.framebrokerviewer.perspectives.defaultPerspective"
            name="Frame Broker">
      </perspective>
   </extension>

</plugin>
