<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Charting"
            id="org.hbird.rcpgui.telemetrychart.views.ChartView">
      </category>
      <view
            allowMultiple="false"
            category="org.hbird.rcpgui.telemetrychart.views.ChartView"
            class="org.eclipse.springframework.util.SpringExtensionFactory"
            icon="icons/chart_curve.png"
            id="org.hbird.rcpgui.telemetrychart.views.ChartView"
            name="Chart View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.hbird.rcpgui.telemetrychart.editors.ChartEditorPart"
            id="org.hbird.rcpgui.telemetrychart.editors.ChartEditorPart"
            name="New telemetry chart">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.hbird.rcpgui.telemetrychart.commands.category"
            name="Plotting">
      </category>
      <command
            categoryId="org.hbird.rcpgui.telemetrychart.commands.category"
            id="org.hbird.rcpgui.telemetrychart.commands.newplot"
            name="New plot">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.hbird.rcpgui.telemetrychart.handlers.NewChartEditorHandler"
            commandId="org.hbird.rcpgui.telemetrychart.commands.newplot">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.hbird.rcpgui.telemetrychart.views.ChartView">
            <command
                  commandId="org.hbird.rcpgui.telemetrychart.commands.newplot"
                  icon="icons/chart_curve.png"
                  id="org.hbird.rcpgui.telemetrychart.toolbars.newplot"
                  label="Plot"
                  style="push"
                  tooltip="Create new plot">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
