<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Telemetry"
            id="org.hbird.rcpgui.telemetry">
      </category>
      <view
            category="org.hbird.rcpgui.telemetry"
            class="org.hbird.rcpgui.telemetry.views.TelemetryView"
            icon="icons/transmit_blue.png"
            id="org.hbird.rcpgui.telemetry.views.TelemetryView"
            name="Telemetry">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.hbird.rcpgui.telemetry.views.TelemetryTable"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.views.TaskList"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
