<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Telemetry"
            id="org.hbird.rcpgui.telemetry">
      </category>
      <view
            category="org.hbird.rcpgui.telemetry"
            class="org.hbird.rcpgui.telemetry.views.TelemetryView"
            icon="icons/transmit_blue.png"
            id="org.hbird.rcpgui.telemetry.views.TelemetryView"
            name="Telemetry">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.hbird.rcpgui.telemetry.views.TelemetryView"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.views.TaskList"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <category
            id="org.hbird.rcpgui.telemetry.commands.category.telemetryProvision"
            name="Telemetry Provision">
      </category>
      
      <command
            categoryId="org.hbird.rcpgui.telemetry.commands.category.telemetryProvision"
            description="Stops live provision of telemetry"
            id="org.hbird.rcpgui.telemetry.commands.stopLiveTmProvision"
            name="Stop Live TM Provision">
      </command>
      
      <command
            categoryId="org.hbird.rcpgui.telemetry.commands.category.telemetryProvision"
            description="Starts live provision of telemetry"
            id="org.hbird.rcpgui.telemetry.commands.startLiveTmProvision"
            name="Start Live TM Provision">
         
      </command>
      
   </extension>
   
   
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.hbird.rcpgui.telemetry.handlers.StopLiveTmProvision"
            commandId="org.hbird.rcpgui.telemetry.commands.stopLiveTmProvision">
      </handler>
      <handler
            class="org.hbird.rcpgui.telemetry.handlers.StartliveTmProvision"
            commandId="org.hbird.rcpgui.telemetry.commands.startLiveTmProvision">
      </handler>
      
   </extension>
   
   
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.hbird.rcpgui.telemetry.menus.telemetry"
               label="Telemetry"
               mnemonic="T">
            <command
                  commandId="org.hbird.rcpgui.telemetry.commands.stopLiveTmProvision"
                  icon="icons/transmit_delete.png"
                  id="org.hbird.rcpgui.telemetry.commands.stopLiveTmProvision"
                  style="push">
            </command>
            <command
                  commandId="org.hbird.rcpgui.telemetry.commands.startLiveTmProvision"
                  icon="icons/transmit_go.png"
                  id="org.hbird.rcpgui.telemetry.commands.startLiveTmProvision"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.hbird.rcpgui.telemetry.toolbars.telemetry"
               label="Telemetry">
            <command
                  commandId="org.hbird.rcpgui.telemetry.commands.stopLiveTmProvision"
                  icon="icons/transmit_delete.png"
                  id="org.hbird.rcpgui.telemetry.toolbars.stopLiveTmProvision"
                  tooltip="Stop live TM provision">
            </command>
            <command
                  commandId="org.hbird.rcpgui.telemetry.commands.startLiveTmProvision"
                  icon="icons/transmit_go.png"
                  id="org.hbird.rcpgui.telemetry.toolbars.startLiveTmProvision"
                  style="push"
                  tooltip="Start live TM provision">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
