<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.hbird.rcpgui.worldwind-globe.category.globe"
            class="org.hbird.rcpgui.worldwindglobe.views.MainGlobeView"
            icon="icons/world.png"
            id="org.hbird.rcpgui.worldwindglobe.views.MainGlobe"
            name="Orbit globe"
            restorable="true">
      </view>
      <category
            id="org.hbird.rcpgui.worldwind-globe.category.globe"
            name="Globe">
      </category>
   </extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
               targetID="org.eclipse.jdt.ui.JavaPerspective">
            <view
                  id="org.hbird.rcpgui.worldwindglobe.views.MainGlobe"
                  minimized="false"
                  ratio="1"
                  relationship="right"
                  visible="true">
            </view>
            <view
                  closeable="true"
                  id="org.hbird.rcpgui.telemetry.views.telemetryView"
                  minimized="false"
                  moveable="true"
                  ratio="0.5"
                  relationship="left"
                  visible="true">
            </view>
         </perspectiveExtension>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <category
               id="org.hbird.rcpgui.worldwind-globe.category.tracking"
               name="Visual tracking">
         </category>
         <command
               categoryId="org.hbird.rcpgui.worldwind-globe.category.tracking"
               id="org.hbird.rcpgui.worldwind-globe.commands.startLiveTracking"
               name="Start live tracking">
         </command>
         <command
               categoryId="org.hbird.rcpgui.worldwind-globe.category.tracking"
               id="org.hbird.rcpgui.worldwind-globe.commands.stopLiveTracking"
               name="Stop live tracking">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="org.hbird.rcpgui.worldwindglobe.handlers.StartLiveTracking"
               commandId="org.hbird.rcpgui.worldwind-globe.commands.startLiveTracking">
         </handler>
         <handler
               class="org.hbird.rcpgui.worldwindglobe.handlers.StopLiveTracking"
               commandId="org.hbird.rcpgui.worldwind-globe.commands.stopLiveTracking">
         </handler>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="toolbar:org.hbird.rcpgui.worldwindglobe.views.MainGlobe?after=additions">
            <command
                  commandId="org.hbird.rcpgui.worldwind-globe.commands.startLiveTracking"
                  icon="icons/satellite_24_hot.png"
                  style="push"
                  tooltip="Start live tracking">
            </command>
            <command
                  commandId="org.hbird.rcpgui.worldwind-globe.commands.stopLiveTracking"
                  icon="icons/satellite_24_hot-red.png"
                  style="push"
                  tooltip="Stop live tracking">
            </command>
         </menuContribution>
      </extension>
</plugin>
