<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.hbird.rcpgui.worldwind-globe.category.globe"
            class="org.hbird.rcpgui.worldwindglobe.views.MainGlobeView"
            icon="icons/world.png"
            id="org.hbird.rcpgui.worldwindglobe.views.MainGlobe"
            name="Orbit globe"
            restorable="true">
      </view>
      <category
            id="org.hbird.rcpgui.worldwind-globe.category.globe"
            name="Globe">
      </category>
   </extension>
      <extension
            point="org.eclipse.ui.commands">
         <category
               id="org.hbird.rcpgui.worldwind-globe.category.tracking"
               name="Visual tracking">
         </category>
         <command
               categoryId="org.hbird.rcpgui.worldwind-globe.category.tracking"
               id="org.hbird.rcpgui.worldwind-globe.commands.startLiveTracking"
               name="Start live tracking">
         </command>
         <command
               categoryId="org.hbird.rcpgui.worldwind-globe.category.tracking"
               id="org.hbird.rcpgui.worldwind-globe.commands.stopLiveTracking"
               name="Stop live tracking">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="toolbar:org.hbird.rcpgui.worldwindglobe.views.MainGlobe?after=additions">
            <command
                  commandId="org.hbird.rcpgui.worldwind-globe.commands.startLiveTracking"
                  icon="icons/satellite_24_hot.png"
                  style="push"
                  tooltip="Start live tracking">
            </command>
            <command
                  commandId="org.hbird.rcpgui.worldwind-globe.commands.stopLiveTracking"
                  icon="icons/satellite_24_hot-red.png"
                  style="push"
                  tooltip="Stop live tracking">
            </command>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="org.hbird.rcpgui.worldwindglobe.preferences.GlobePreferences"
               id="org.hbird.rcpgui.worldwindglobe.preferences.GlobePreferences"
               name="3D globe">
         </page>
      </extension>
      <extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.hbird.rcpgui.worldwindglobe.preferences.PreferenceInitializer">
         </initializer>
      </extension>
</plugin>
