<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.omg.org/space/xtce"
            class="org.omg.space.xtce.XtcePackage"
            genModel="model/SpaceSystemV1.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="xtce"
            class="org.omg.space.xtce.util.XtceResourceFactoryImpl"/>
   </extension>

</plugin>
