<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.hbird.rcpgui.ssprequester.preferences.SpaceSystemPublisherPreferences"
            id="org.hbird.rcpgui.ssprequester.preferences.SpaceSystemPublisherPreferences"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.hbird.rcpgui.ssprequester.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
