<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.logica.humminbird.HummingbirdMscCore.componentLoggers" name="Component Loggers" schema="schema/com.logica.humminbird.HummingbirdMscCore.componentLoggers.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.logica.hummingbird.hummingbirdmcscore.HummingbirdCoreApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Frame Broker Perspective"
            class="com.logica.hummingbird.hummingbirdmcscore.perspectives.FrameBrokerPerspective"
            id="HummingbirdMcsCore.perspective.FrameBrokerPerspective">
         <description>
            Default view.
         </description>
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="HummingbirdMcsCore.application"
            name="Hummingbird - Mission Control System">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.logica.hummingbird.framebroker.views.FrameViewer"
            id="com.logica.hummingbird.framebroker.views.FrameViewer"
            name="Frame Viewer"
            restorable="true">
      </view>
   </extension>

</plugin>
