<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.logica.hummingbird.hummingbirdmcscore.HummingbirdCoreApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.logica.hummingbird.hummingbirdmcscore.perspectives.FrameBrokerPerspective"
            icon="icons/transmit_blue.png"
            id="com.logica.hummingbird.hummingbirdmcscore.perspectives.FrameBrokerPerspective"
            name="Frame Broker">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.logica.hummingbird.HummingbirdMcsCore.application"
            name="Hummingbird - Mission Control System">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Hummingbird - Mission Control System">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.logica.hummingbird.framebrokerviewer.views.FrameView"
            id="com.logica.hummingbird.framebroker.views.FrameViewer"
            name="Frame Viewer"
            restorable="true">
      </view>
   </extension>

</plugin>
