<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.logica.hummingbird.hummingbirdmcscore.HummingbirdCoreApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.logica.hummingbird.hummingbirdmcscore.perspectives.McsHomePerspective"
            id="com.logica.hummingbird.hummingbirdmcscore.perspectives.McsHomePerspective"
            name="MCS Home">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.logica.hummingbird.hummingbirdmcscore.application"
            name="Hummingbird - Mission Control System">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Hummingbird - Mission Control System">
         </property>
         <property
               name="startupProgressRect"
               value="5,5,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,320,445,20">
         </property>
         <property
               name="aboutText"
               value="Hummingbird Mission Control System&#x0A;&#x0A;Johannes Klug - Gert Villemos - Mark Doyle">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.logica.hummingbird.hummingbirdmcscore.intro">
      </intro>
      <introProductBinding
            introId="com.logica.hummingbird.hummingbirdmcscore.intro"
            productId="com.logica.hummingbird.hummingbirdmcscore.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="com.logica.hummingbird.hummingbirdmcscore.introConfigId"
            introId="com.logica.hummingbird.hummingbirdmcscore.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?">
         <menu
               id="com.logica.hummingbird.hummingbirdmcscore.menus.file"
               label="File"
               mnemonic="F">
            <command
                  commandId="com.logica.hummingbird.hummingbirdmcscore.commands.exit"
                  label="Exit"
                  mnemonic="x"
                  style="push"
                  tooltip="Exits the control system">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.logica.hummingbird.hummingbirdmcscore.commands.exit"
            name="Exit">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
   </extension>

</plugin>
