<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="FrameBroker"
            name="Frame Broker">
      </category>
      <view
            category="FrameBroker"
            class="com.logica.hummingbird.framebroker.views.FrameViewer"
            icon="icons/sample.gif"
            id="framebroker.views.FrameViewer"
            name="Frame Viewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.logica.hummingbird.FrameBroker.actionSet"
            label="Frame Broker"
            visible="true">
         <menu
               id="frameBroker"
               label="Frame &amp;Broker">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="com.logica.hummingbird.framebroker.actions.SelectTmFrameProvider"
               icon="icons/sample.gif"
               id="com.logica.hummingbird.framebroker.actions.SelectTmFrameProvider"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="framebroker.views.FrameViewer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>

</plugin>
