<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="org.hbird.rcpgui.tvtable.preferences.TelemetryViewerTable"
            id="org.hbird.rcpgui.tvtable.preferences.Telemetry viewer table">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.hbird.rcpgui.tvtable.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Telemetry visualisation"
            id="org.hbird.rcpgui.telemetry-viewer-table">
      </category>
      <view
            name="Telemetry"
            icon="icons/sample.gif"
            category="org.hbird.rcpgui.telemetry-viewer-table"
            class="org.eclipse.springframework.util.SpringExtensionFactory"
            id="org.hbird.rcpgui.tvtable.views.TelemetryTable">
      </view>
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
